#ifndef LUNETIX_VERSION_MAJOR
#define LUNETIX_VERSION_MAJOR 1
#endif

#ifndef LUNETIX_VERSION_MINOR
#define LUNETIX_VERSION_MINOR 0
#endif

#ifndef LUNETIX_VERSION_BUILD
#define LUNETIX_VERSION_BUILD 0
#endif

#ifndef LUNETIX_VERSION_PATCH
#define LUNETIX_VERSION_PATCH 0
#endif